<div class="container-fluid">
  <button type="button" (click)="openCreationNewQuestionFormCustomer()" class="btn btn-primary btn-lg btn-block"
          style="margin: 20px 0 20px 0">add new question
  </button>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th>
        №
      </th>
      <th>
        content
      </th>
      <th>
        label
      </th>
      <th>
        actions
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let question of questions; let i = index">
    <tr id="'tr__' + {{i}}">
      <td>
        {{i + 1}}
      </td>
      <td>
        {{question.content}}
      </td>
      <td>
        {{question.label}}
      </td>
      <td>
        <div class="container">
          <div class="row" style="text-align: center">
            <div class="col">
              <button class="btn btn-danger" (click)="deleteQuestion(question.id)">delete</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
