<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      №
    </th>
    <th>
      telegram id
    </th>
    <th>
      porter name
    </th>
    <th>
      telegram username
    </th>
    <th>
      actions
    </th>
  </tr>
  </thead>
  <tbody *ngFor="let porter of porters; let i = index">
  <tr>
    <td>
      {{i}}
    </td>
    <td>
      {{porter.telegramId}}
    </td>
    <td>
      {{porter.porterName}}
    </td>
    <td>
      {{porter.userName}}
    </td>
    <td>
      <button class="btn btn-danger" (click)="deletePorter(porter.id)">delete</button>
    </td>
  </tr>
  </tbody>
</table>
